/* Articles */

.article hgroup * {
  margin: 0;
}

.article hgroup time {
  color: gray;
}

.article h1, 
.article h2, 
.article h3, 
.article h4, 
.article h5, 
.article h6 {
  font-family: "Georgia", sans-serif;
}

.tags {
  margin-top: 2rem;
}

.fin {
  text-align: center;
  font-size: 70%;
  color: var(--color-text--primary);
  margin-block: 1rem 2rem;
}

.footnotes {
  font-size: 90%;
  margin-top: 2rem;
  width: 100%;
  border-top: 1px solid var(--color-border);
}

.footnotes:before {
  content: "";
  font-weight: bold;
  font-size: 0.9rem;
}

@media screen and (min-width: 600px) {
  .fin {
    font-size: 90%;
  }
}
