<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    
	<link rel="icon" href="data:,">
	<title>{{ site.title }} | {{ page.title }}</title>
	<link rel="stylesheet" href="{{ '/assets/css/base.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/article.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/monokai.css' | relative_url }}">
    
    <meta name="theme-color" content="#FFF" media="(prefers-color-scheme: light)">    
    <meta name="theme-color" content="#111" media="(prefers-color-scheme: dark)">
    
    {% feed_meta %}
    {% seo %}
    
    {% include favicon.html %}

</head>

{% include header.html %}

<body>
    <main>
        {{ content }}
    </main>
</body>

{% include footer.html %}